// =================== Colors =================== //
$white: #ffffff;
$black: #000;
$light-grey: #F2F3F5;
$light-grey-2: #E5E5E5;
$medium-grey-1: #C4C4C4;
$medium-grey-2: #747781;
$dark-grey: #252525;
$text-medium-grey: #86939E;
$text-dark-grey: #212B2E;
$light-coral: #E05B51;
$dark-coral: #FF4A54;
$translucent-coral: rgba(255, 74, 84, 0.15);

// =================== Fonts =================== //
%font-roboto {
  font-family: 'Roboto', sans-serif; 
}

%font-huge {
  font-family: 'Huge';
}

%font-league-mono {
  font-family: 'League Mono';
}

%font-sofia-pro {
  font-family: 'Sofia Pro';
}
// TODO: $font-operator-mono
// TODO: $font-apercu-pro
// TODO: $font-brandon-grotesque
// TODO: $font-futura
// TODO: $font-huge-avant-garde
// TODO: $font-sf-pro-text
// TODO: $font-sofia-pro

// =================== Layout =================== //
$tablet: 768px;
$desktop: 1140px;
$desktop-1080: 1920px;

// =================== Mixins =================== //
@mixin rem($property, $values) {
  $px: ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else {
      $unit: unit($value);
      $val: parse-int($value);

      @if $unit == 'px' {
        $px: append($px, $value);
        $rem: append($rem, ($val / 16 + rem));
      }

      @if $unit == 'rem' {
        $px: append($px, ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}