---
layout: base.njk
title: Add Your Group
css: https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-okaidia.min.css
script: https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js
---
<div class="join-instructions-component">
  <div class="subtle-hero join">
    <h1>Join</h1>
  </div>
  <h1>Show others your group...</h1>
  <div class="join-steps">
    <h2>1.</h2>
    <p>Fork the <a class="inline-link" href="https://github.com/nrvdev/nrv.dev/">NRV DEV</a> repository.</p>
    <h2>2.</h2>
    <p>Clone the fork into your environment.</p>
    <h2>3.</h2>
    <p>Create a new branch and update <code>_data/groups.json</code> to include your group.</p>
    <div class="join-details">
      <div class="code-sample">
        <pre><code class="language-bash"> 
        git checkout -b pied-pipers
        </code></pre>
      </div>
      <div class="code-sample">
        <pre><code class="language-json">   
        {
          "name": "The Pied Pipers",
          "imageUrl": "http://s3.amazonaws.com/assets.piedpiper.pro/app/uploads/2018/05/piedpiper_507_blog.jpg",
          "contact": "Jared Dunn",
          "website": "http://www.piedpiper.com",
          "nextEvent": "TBD",
          "location": "Silicon Valley",
          "details": "The dream of a decentralized Internet has been a long time coming. We meet to discuss further."
        }
        </code></pre>
      </div>
      <div>
        <h3>Defaults:</h3>
        <p>Not all fields are required and we do provide a few defaults to choose from. If you leave the field blank, <b>then a default will be randomly selected for you</b>.</p>
      </div>
      <div class="defaults">
        <ul class="defaults-grid">
          <li>
            <p>imageUrl:</p>
          </li>
          {%- for groupImage in defaults.groupImages %}
            <li class="default-image">
              <img src="{{groupImage}}" alt="Default group image at {{groupImage}} ">
              <p>{{groupImage}}</p>
            </li>
          {% endfor -%}
        </ul>
      </div>
    </div>
    <h2>4.</h2>
    <p>Commit your changes and push up your branch.</p>
    <h2>5.</h2>
    <p>Create your Pull Request and check out your deploy preview to make sure everything looks like you want it to.</p>
    <div class="join-details">
      <img src="/images/pr_checks.png" alt="GitHub PR Checks">
    </div>
    <h2>6.</h2>
    <p>🎉 Get that merge notification! 🎉</p>
  </div>
</div>