---
layout: base.njk
pagination:
  data: groups
  size: 1
  alias: group
permalink: '/groups/{{group.name|slug}}/'
---

<div class="group-component">
  {% if group.imageUrl %}
    <img src="{{group.imageUrl}}" alt="Group image for {{group.name}}">
  {% else %}
    <img src="/images/default-group.jpg" alt="Group image for {{group.name}}">
  {% endif %}
  <div class="group-details">
    <h1>{{group.name}}</h1>
    {% if  group.location %}
    <div class="group-detail">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
      </svg>
      <p>{{ group.location }}</p>
    </div>
    {% endif %}
    {% if  group.contact %}
    <div class="group-detail">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
      </svg>
      <p>Contact {{ group.contact }}</p>
    </div>
    {% endif %}
    {% if group.website %}
    <div class="group-detail">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
      </svg>
      <a href="{{group.website}}"">Website</a>
    </div>
    {% endif %}
    <div class="group-detail-content">
      <h2>Details:</h2>
      <p>{{group.details}}</p>
    </div>
  </div>
  
</div>

