---
layout: base.njk
---

<div class="hero-component">
    <div class="background-wrapper">
      <p class="lead standard-padding">A community connecting developers throughout the New River Valley</p>
    </div>
    <div class="wrapper logo-overlay desktop">
      <img src="/images/logo-compact-coral.svg" alt="NRV Dev Logo">
    </div>
  </div>

  <section class="join-component">
    <img class="logo" src="/images/logo-full-coral.svg" alt="NRV Dev Logo">

    <h2>
      You're a developer? <b>Join the community</b>
    </h2>

    <p>Join the New River Valley Developers Community for the latest news and events.</p>

    <div class="join-links">
      <a class="link-button" href="https://join.slack.com/t/nrvdev/shared_invite/zt-gjioaiup-3olv2DFgNvmVTf0bllKw4Q">Join Us On Slack</a>
      <a class="link-button" href="/join/">Submit Pull Request</a>
    </div>
  </section>