---
layout: base.njk
title: Join
css: https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-okaidia.min.css
script: https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js
---
<div class="join-instructions-component">
  <div class="subtle-hero join">
    <h1>Join</h1>
  </div>
  <h1>Just a few steps away...</h1>
  <div class="join-steps">
    <h2>1.</h2>
    <p>Fork the <a class="inline-link" href="https://github.com/nrvdev/nrv.dev/">NRV DEV</a> repository.</p>
    <h2>2.</h2>
    <p>Clone the fork into your environment.</p>
    <h2>3.</h2>
    <p>Create a new branch and update <code>_data/devs.json</code> to include you.</p>
    <div class="join-details">
      <div class="code-sample">
        <pre><code class="language-bash"> 
        git checkout -b jane-doe
        </code></pre>
      </div>
    </div>
    <div class="join-details">
      <div class="code-sample">
        <pre><code class="language-json"> 
        {
          "name": "Jane Doe",
          "imageUrl": "https://cdn.com/janedoe.jpg",
          "company": "Awesome Company Inc.",
          "gitHub": "iAmJaneDoe",
          "twitter": "iAmJaneDoe",
          "website": "https://www.iamjanedoe.com",
          "title": "Software Engineer",
          "location": "Christiansburg",
          "availableToMentor": true,
          "skills": [
            "JavaScript",
            "Ruby on Rails",
            "Docker",
            "Public Speaking"
          ],
          "bio": "I like to write code."
        }
        </code></pre>
      </div>
      <div>
        <h3>Available To Mentor:</h3>
        <p>You might be an expert in a technology that someone else in the community struggles with. By setting this flag to true, you're telling others that it's OK to contact you with questions. Don't have time for this right now? That's OK, you can always come back and set it to true with another PR in the future!</p>
      </div>
      <div>
        <h3>Skills:</h3>
        <p>You can add as many skills as you would like, <b>only the first 4 will be shown on the devs page</b>.</p>
      </div>
      <div>
        <h3>Defaults:</h3>
        <p>Not all fields are required and we do provide a few defaults to choose from. If you leave the field blank, <b>then a default will be randomly selected for you every page request</b>.</p>
      </div>
      <div class="defaults">
        <p>If you do not provide an imageUrl but have given your GitHub username, we will default to  your GitHub avatar for your imageUrl.</p>
        <ul class="defaults-grid">
          <li>
            <p>imageUrl:</p>
          </li>
          {%- for profileImage in defaults.profileImages %}
            <li class="default-image">
              <img src="{{profileImage}}" alt="Default image at {{profileImage}} ">
              <p>{{profileImage}}</p>
            </li>
          {% endfor -%}
        </ul>
        <ul class="defaults-grid bios">
          <li>
            <p>bio:</p>
          </li>
          {%- for bio in defaults.bios %}
            <li>
              <p>"{{bio}}"</p>
            </li>
          {% endfor -%}
        </ul>
      </div>
    </div>
    <h2>4.</h2>
    <p>Commit your changes and push up your branch.</p>
    <h2>5.</h2>
    <p>Create your Pull Request and check out your deploy preview to make sure everything looks like you want it to.</p>
    <div class="join-details">
      <img src="/images/pr_checks.png" alt="GitHub PR Checks">
    </div>
    <h2>6.</h2>
    <p>🎉 Get that merge notification! 🎉</p>
  </div>
</div>