---
layout: base.njk
css: https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css
---
<div class="join-instructions-component">
  <h1>Join the Community</h1>
  <div class="join-steps">
    <h2>1.</h2>
    <p>Fork the <a class="inline-link" href="https://github.com/nrvdev/site/">NRV DEV</a> repository.</p>
    <h2>2.</h2>
    <p>Clone the fork into your environment.</p>
    <h2>3.</h2>
    <p>Create a new branch and update <code>_data/devs.json</code> to include you.</p>
    <div class="code-sample">
      <pre><code class="language-json"> {
        "name": "Margaret Hamilton",
        "imageUrl": "",
        "company": "Hamilton Technologies, Inc.",
        "gitHub": "",
        "twitter": "",
        "website": "",
        "title": "CEO",
        "location": "Cambridge",
        "availableToMentor": true,
        "skills": [
          "Hexadecimal",
          "Software Reliability",
          "Systems Design",
          "LGP-30"
        ],
        "bio": "I coined the term Software
                Engineering."
      }</code></pre>
    </div>
    <h2>4.</h2>
    <p>Commit your changes and push up your branch.</p>
    <h2>5.</h2>
    <p>Create your Pull Request.</p>
    <h2>6.</h2>
    <p>Get that merge notification.</p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>