---
layout: base.njk
---
<div class="join-instructions-component">
  <h1>One merge away...</h1>
  <div class="join-steps">
    <h2>1.</h2>
    <p>Fork the <a href="#">NRV DEV</a> repository.</p>
    <h2>2.</h2>
    <p>Clone the fork into your environment.</p>
    <h2>3.</h2>
    <p>Create a new branch and update <code>_data/devs.json</code> to include you.</p>
    <div class="code-sample">
      <pre><code class="language-json"> {
        "name": "Noah Kowalski",
        "imageUrl": "",
        "company": "Greenwood",
        "gitHub": "kevPo",
        "twitter": "kevPo",
        "website": "",
        "title": "Software Engineer",
        "location": "Radford",
        "availableToMentor": false,
        "skills": [
          "C#",
          "JavaScript",
          "SQL",
          "Kanban",
          "F#"
        ],
        "bio": ""
      }</code></pre>
    </div>
    <h2>4.</h2>
    <p>Commit your changes and push up your branch.</p>
    <h2>5.</h2>
    <p>Create your Pull Request.</p>
    <h2>6.</h2>
    <p>Get that merge notification.</p>
  </div>
  <div class="merge-celebration"><iframe src="https://giphy.com/embed/26FL4fdR9oRs2tdEA" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>