<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NRV DEV</title>
    <link rel="icon" type="image/png" href="/images/fav.png" />
    <link href="{{ '/css/styles.css' | url }}" rel="stylesheet" />
  </head>
  <body>
    {% include 'navigation.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}
  </body>
</html>