<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Primary Meta Tags -->
    <title>NRV DEV</title>
    <meta name="title" content="NRV DEV">
    <meta name="description" content="The New River Valley Developers Community is intended to serve as a hub for developers around the Blacksburg, Christiansburg, Radford, and Roanoke region. Here developers can introduce themselves to others, find out what events are happening nearby, and stay connected to the field.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nrv.dev/">
    <meta property="og:title" content="NRV DEV">
    <meta property="og:description" content="The New River Valley Developers Community is intended to serve as a hub for developers around the Blacksburg, Christiansburg, Radford, and Roanoke region. Here developers can introduce themselves to others, find out what events are happening nearby, and stay connected to the field.">
    <meta property="og:image" content="/images/meta-hero.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nrv.dev/">
    <meta property="twitter:title" content="NRV DEV">
    <meta property="twitter:description" content="The New River Valley Developers Community is intended to serve as a hub for developers around the Blacksburg, Christiansburg, Radford, and Roanoke region. Here developers can introduce themselves to others, find out what events are happening nearby, and stay connected to the field.">
    <meta property="twitter:image" content="/images/meta-hero.jpg">
    
    <link rel="icon"  href="{{ '/images/favicon.png' | url}}" />
    <link href="{{ '/css/styles.css' | url }}" rel="stylesheet" />
    {% if script.length > 0 %}<script src="{{ script | url }}"></script>{% endif %}
    {% if css.length > 0 %}<link rel="stylesheet" href="{{ css | url }}"/>{% endif %}
  </head>
  <body>
    {% include 'navigation.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}
  </body>
</html>