<footer id="footerElement" tabindex="0" role="contentinfo">
    <div class="footer-component">
      <div>
        <img src="/images/logo-full-coral.svg" alt="NRV DEV Logo">
      </div>

      <div class="site-map-wrapper">
        <div class="list-wrapper">
          <h2>Our Community</h2>
          <ul>
            <li><a href="/devs/">Devs</a></li>
            <li><a href="/groups/">Groups</a></li>
          </ul>
        </div>

        <div class="list-wrapper">
          <h2>Support</h2>
          <ul>
            <li><a href="#">Sponsorship</a></li>
            <li><a href="#">Code of Conduct</a></li>
            <li><a href="#">Contact NRV DEV</a></li>
          </ul>
        </div>

        <div class="list-wrapper">
          <h2>Social Media</h2>
          <ul>
            <li><a href="https://www.github.com/nrvdev">GitHub</a></li>
            <li><a href="https://join.slack.com/t/nrvdev/shared_invite/zt-gjioaiup-3olv2DFgNvmVTf0bllKw4Q">Slack</a></li>
            <li><a href="https://twitter.com/nrvdev">Twitter</a></li>
          </ul>
        </div>

        <div class="contact-copyright desktop">
          <p>Copyright & Terms of Authorship are of team for NRV DEV 2020</p>
        </div>
      </div>

    </div>
  </footer>