<section class="join-component">
    <img class="logo" src="/images/logo-full-coral.svg" alt="NRV Dev Logo">

    <h2>
      You're a developer? <b>Join the community</b>
    </h2>

    <p>Join the New River Valley Developers Community for latest news, events, and promotions.</p>

    <a class="link-button" href="#">Submit Pull Request</a>
  </section>