<header id="headerElement" tabindex="0" role="banner">
    <nav class="navigation-component">
      <a href="/" class="logo wrapper background-color-dark-grey">
        <img class="mobile" src="/images/logo-compact.svg" alt="NRV Dev Logo">
        <img class="tablet-up" src="/images/logo-full.svg" alt="NRV Dev Logo">
      </a>

      <input type="checkbox" id="toggle-checkbox" onchange="toggleNav()">
      <label for="toggle-checkbox" class="toggle-label">Menu</label>

      <ul class="desktop">
        <li><a href="/devs/" class="{% if '/devs/' == page.url %}active-link{% endif %}">Devs</a></li>
        <li><a href="/groups/" class="{% if '/groups/' == page.url %}active-link{% endif %}">Groups</a></li>
      </ul>

      <a class="desktop join background-color-dark-coral" href="/join/">Join Now!</a>
    </nav>

    <div id="mobileNav" class="overlay">
      <ul>
        <li><a href="/devs/">Devs</a></li>
        <li><a href="/groups/" >Groups</a></li>
      </ul>
    </div>
  </header>

  <script>
  let navExpanded = false;

  function toggleNav() {
    if (navExpanded) {
      const scrollY = document.body.style.top;
      document.body.style.position = '';
      document.body.style.top = '';
      window.scrollTo(0, parseInt(scrollY || '0') * -1);
      document.getElementById("mobileNav").style.height = "0%";
      navExpanded = false;
    } else {
      document.body.style.position = 'fixed';
      document.body.style.top = `-${window.scrollY}px`;
      document.getElementById("mobileNav").style.height = "100%";
      navExpanded = true;
    }
  }
  </script>