<header id="headerElement" tabindex="0" role="banner">
    <nav class="navigation-component">
      <a href="/helloworld" class="logo wrapper background-color-dark-grey">
        <img class="mobile" src="/images/logo-compact.svg" alt="NRV Dev Logo">
        <img class="tablet-up" src="/images/logo-full.svg" alt="NRV Dev Logo">
      </a>

      <button class="mobile tablet menu-button">
        <img src="/images/icon-hamburger.svg" alt="Toggle Menu Icon">
      </button>

      <ul class="desktop">
        {# <li><a href="#">News</a></li> #}
        <li><a href="/devs/" class="{% if '/devs/' == page.url %}active-link{% endif %}">Devs</a></li>
        <li><a href="#" >Groups</a></li>
        {# <li><a href="#">Companies</a></li> #}
        {# <li><a href="#">Events</a></li> #}
        <li><a href="#">Jobs</a></li>
      </ul>

      <a class="desktop join background-color-dark-coral" href="#">Join Now!</a>
    </nav>
  </header>