.activity-component {

  .category-toggles {
    display: flex;
    
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 15px;

      h2 {
        @include rem(font-size, 16px);
        margin: 0;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .activity-list {
    border-top: 2px solid black;

    li {
      border-bottom: 2px solid black;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      align-items: center;

      .type-icon-wrapper {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .type-label {
          @include rem(font-size, 12px);
          margin-top: 10px;
          text-transform: uppercase;
        }
      }

      .details {
        width: 75%;

        h3 {
          @include rem(font-size, 16px);
          margin: 0;
        }

        p {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }

  @media (min-width: $tablet) {

  }
  
  @media (min-width: $desktop) {
    background-color: $light-grey-2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .category-toggles {
      width: 80%;
    }

    .activity-list {
      width: 80%;

      li {
      
        .type-icon-wrapper {
          flex-direction: row;
          justify-content: flex-start;

          img {
            position: relative;
            right: 55px;
          }
        }
      }
    }

  }
}
