// // .events-component {
// //   h2 {
// //     @extend %font-huge;
// //     display: flex;
// //     align-items: center;

// //     img {
// //       margin-right: 15px;
// //     }
// //   }

// //   ul {
// //     border-top: solid 1px $black;

// //     li {
// //       height: 140px;
// //       border-bottom: solid 1px $black;
// //       display: flex;
// //       align-items: center;

// //       .date {
// //         @include rem(font-size, 14px);
// //         padding: 45px;
// //         font-weight: bold;
// //       }

// //       .details {
// //         @include rem(font-size, 14px);
// //         color: $medium-grey-2;
// //         font-weight: bold;
// //         line-height: 22px;
// //       }
// //     }
// //   }

// //   @media (min-width: $tablet) {

// //   }
  
// //   @media (min-width: $desktop) {
// //     h2 {
// //       justify-content: center;
// //     }

// //     .more-events-button-wrapper {
// //       width: 100%;
// //       display: flex;
// //       justify-content: flex-end;
// //     }
// //   }
// // }
// h1, h2 {
//   margin: 0;
//   padding: 0;
// }

.events-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
  font-size: .5em;
}

.calendar-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;

  h1, h2 {
    margin: 0;
    padding: 0;
  }
}

#year {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

#month {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
}

#prev, #next {
  grid-row: 1 / span 2;
  align-self: center;
}

button {
  border: 5px solid #BE946A;
  color: #D78822;
  border-radius: 20px;
  padding: 15px;
  margin: 0px 20px;
  background: #D8BC9D;
  font-size: 5em;
}

button:hover {
  background: #BE946A;
}

button:active {
  border: 5px solid #A9ABBE;
  color: #A9ABBE;
  background: #5D628F;
  position: relative;
  top: 2px;
  left: 2px;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

#abr {
  display: none;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  padding: 0 10px;
}

.day {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: end;
  padding: 5px 10px;
  background: #ff4a54;
  color: white;
  font-size: .5em;
  height: 50px;
}

.today {
  color: #5D628F;
  font-weight: bold;
}

@media (max-width: 1200px) {
  // body {
  //     font-size: 1.2em;
  // }

  #days {
      display: none;
  }

  #abr {
      display: grid;
  }

  button {
      border: 3px solid orange;
      border-radius: 15px;
      padding: 10px;
      margin: 0px 10px;
      font-size: 1.2em;
  }
}