.filters-component {
  .expand-filters {
    width: 70px;
    height: 60px;
    background-color: $dark-coral;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .filters-area {
    display: none;
    outline: none;
    background-color: $light-grey;
    transform: translateX(-100%);
    margin-bottom: 3rem;

    @keyframes slide-in {
      100% {
        transform: translateX(0%);
      }
    }

    @-webkit-keyframes slide-in {
      100% {
        -webkit-transform: translateX(0%);
      }
    }

    @keyframes slide-out {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @-webkit-keyframes slide-out {
      0% {
        -webkit-transform: translateX(0%);
      }
      100% {
        -webkit-transform: translateX(-100%);
      }
    }

    &.expanded {
      display: block;
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards;
    }

    &.slide-out {
      display: block;
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards;
    }

    .show-filters-button {
      background-color: $dark-coral;
      fill: $white;
      position: absolute;
      left: 100vw;
    }

    h2 {
      text-transform: uppercase;
      border-bottom: solid 1px $black;
      width: 225px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      margin-top: 0;

      .mentor-badge {
        margin-left: 5px;
        width: 18px;
      }
    }

    .filters-list {
      ul {
        padding-left: 30px;

        li {
          @include rem(font-size, 14px);
          color: $text-medium-grey;
          margin-bottom: 10px;

          label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }

          input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (min-width: $tablet) {
    padding-top: 150px;

    .expand-filters {
      display: none;
    }

    .no-top-padding {
      padding-top: 0;
    }

    .filters-area {
      display: block;
      transform: translateX(0%);

      &:hover,
      &:active,
      &:focus {
        margin-left: auto;

        & + .hide-filters-button {
          display: none;
        }
      }
    }

    .show-filters-button,
    .hide-filters-button {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 200px;
  }
}
