.group-card-component {
  width: 100%;
  height: 100%;
  background-color: $dark-grey;
  background-image: url('/images/group-bg.svg');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .link-button {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $light-grey;
    cursor: pointer;
    color: $light-grey;
    margin-top: auto;
  }

  .group-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-top: solid 3px $dark-coral;

    img {
      width: 100%;
      height: 276px;
      object-fit: cover;
    }
  }

  .details {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      @extend %font-huge;
    }

    h2,
    p,
    button {
      margin: 0;
      color: $light-grey;
    }

    p {
      margin-top: 15px;
      margin-bottom: 30px;
      @include rem(font-size, 14px);
      @include rem(line-height, 20px); 
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;     
    }
  }

  @media (min-width: $tablet) {

  }
  
  @media (min-width: $desktop) {

  }
}
