@import '../sass.scss';

.group-card-component {
  width: 100%;

  .group-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-top: solid 3px $dark-coral;
    height: calc(30vh + 30px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    background-color: $dark-grey;
    background-image: url('/images/topographic-map.svg');
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 30vh;

    h2,
    p,
    button {
      margin: 0;
      color: $light-grey;
    }

    p {
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet) {
    .group-image-wrapper,
    .details {
      height: 225px;
    }

  }
  
  @media (min-width: $desktop) {

  }
}
