.join-instructions-component {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
  }

  .join-steps {
    display: grid;
    grid-template-columns: 1fr auto;

    h2 {
      @extend %font-huge;
      color: $dark-coral;
      font-size: 4rem;
      margin: 1rem;
    }
    p {
      font-size: 1.2em;
      align-self: center;
      margin-left: 15px;

      a.inline-link {
        border: none;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $dark-coral;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $dark-coral;
          text-underline-offset: 2px;
          text-decoration-thickness: 2px;
        }
      }

      code {
        @extend %font-league-mono;
        color: $dark-coral;
      }
    }

    .code-sample {
      grid-column: 1 / -1;
      font-size: .65rem;
    }
  }

  @media (min-width: $tablet) {
    h1 {
      font-size: 3rem;
    }

    .join-steps {
      .code-sample {
        font-size: 1rem;
      }
    }
  }
}