@import '../sass.scss';

.join-component {
  background-image: url('/images/river-right.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 40px;
  }


  @media (min-width: $tablet) {
    p {
      width: 50%;
    }
  }
  
  @media (min-width: $desktop) {
    background-image: url('/images/river-left.svg'), url('/images/river-right.svg');
    background-position: left bottom, right bottom;
    margin-top: 50px;
  }
}
