.join-instructions-component {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  .join-steps {
    display: grid;
    grid-template-columns: 1fr auto;

    h2 {
      @extend %font-huge;
      color: $dark-coral;
      font-size: 4rem;
      margin: 1rem;
    }
    p {
      font-size: 1.2em;
      align-self: center;
      margin-left: 15px;

      a.inline-link {
        border: none;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $dark-coral;
        text-underline-offset: 2px;
        text-decoration-thickness: 2px;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $dark-coral;
          text-underline-offset: 2px;
          text-decoration-thickness: 2px;
        }
      }

      code {
        @extend %font-league-mono;
        color: $dark-coral;
      }
    }

    .json-details {
      grid-column: 1 / 3;
    }

    .code-sample {
      font-size: .65rem;
    }

    .defaults-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      grid-gap: 3rem;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 2rem;

      li:first-child {
        justify-self: flex-start;
        grid-column: 1 / -1;

        p{
          font-size: 1.25rem;
        }
      }

      &.bios {
        padding-top: 2rem;
      }

      &.bios li {
        justify-self: flex-start;

        p {
          text-align: left;
          @extend %font-league-mono;
        }
      }

      p {
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }
    }

    .defaults {
      grid-column: 1 / 3;
      padding-bottom: 5rem;

      .default-image p { 
        margin-top: 10px;
        @extend %font-league-mono;
      }
    }
  }

  @media (min-width: $tablet) {
    h1 {
      font-size: 3rem;
    }

    .join-steps {
      width: 75%;

      .code-sample {
        font-size: 1rem;
      }

      .defaults-grid {
        grid-template-columns: repeat(auto-fit, 250px);
      }
    }
  }

  @media (min-width: $desktop) {
    .join-steps {
      width: 65%;

      .json-details {
        grid-column: 2 / 3;
      }

      .defaults-grid {
        grid-template-columns: 100px 300px 300px;

        &.bios li {
          grid-column: 2 / -1;
        }

        li:first-child {
          grid-column: 1;
          grid-row: 1 / 3;
        }
      }
    }
  }

  @media (min-width: $desktop-1080) {
    .join-steps {
      .defaults-grid {
        grid-template-columns: 100px 300px 300px;
      }
    }
  }
}