@import '../sass.scss';
@import '../base/classes.scss';

.search-component {
  display: flex;
  padding: 40px 40px 0 40px;
  justify-content: space-between;
  align-items: flex-end;

  label {
    @extend .hidden;
  }

  .filter-container{
    width: 70px;
    height: 60px;
    // border: 1px solid #FF4A54;
    // background-color: rgba(255, 74, 84, 0.15);
    background-color: #FF4A54;
    // padding: 5px;
    transition: height .4s ease, width .5s ease, background .5s ease-in;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    &.full-menu {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      background-color: $white;
      transition: height .4s ease, width .5s ease, background .2s ease;
      z-index: 100;
      img {
        visibility: hidden;
        transition: height .5s ease, width 1s ease;
      }
    }

    img {
      margin: 15px;
      visibility: visible;
      transition: visibility 2s, opacity 1s linear;
    }
  }

  input[type=search] {
    @include rem(font-size, 20px);
    color: $text-dark-grey;
    @extend %font-huge;
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 10px 4px;
    outline: none;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    -webkit-transition : border 500ms ease-out; 
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition: border 500ms ease-out;

    &::placeholder {
      @include rem(font-size, 20px);
      font-weight: bold;
      color: $medium-grey-2;
    }

    border-bottom: solid 5px $medium-grey-1;

    &:active, 
    &:focus {
      border-bottom: solid 5px $dark-coral;
    }
  }

  button {
    &.button {
      margin: 0;
    }
  }

  @media (min-width: $tablet) {
    padding: 3em 0 3em 0;

    input[type=search] {
      @include rem(font-size, 28px);
      width: 80%;

      &::placeholder {
        @include rem(font-size, 28px);
      }
    }
  }
  
  @media (min-width: $desktop) {
    padding: 3em 0 5em 0;

    input[type=search] {
      @include rem(font-size, 36px);
      width: 70%;

      &::placeholder {
        @include rem(font-size, 36px);
      }
    }
  }
}
