.dagrid {
  display: grid;
  transition: all 1s;
  @media (min-width: $tablet) {
    grid-template-columns: repeat(9, 1fr);

    .searchable-list-component {
      grid-column: 2 / -1;
    }
  }
  @media (min-width: $desktop) {
    
  }
  @media (min-width: $desktop-1080) {
    .searchable-list-component {
      grid-column: 3 / 9;
    }
  }
}

.searchable-list-component {
  display: flex;
  flex-direction: column;

  .search-list-move {
    animation: fadeinout 1s ease-in-out;
  }

  .search-list-enter-active {
    animation: fadein 500ms ease-out;
  }

  .search-list-leave-active {
    animation: fadeout ease-in;
  }

  @keyframes fadein {
    0% { opacity: 0; }
    25% { opacity: .25; }
    50% { opacity: .5; }
    75% { opacity: .75; }
    100% { opacity: 1; }
  }

  @keyframes fadeout {
    0%{ opacity: 1; }
    25% {opacity: .75;}
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: 0;}
  }

  .searchable-list {
    padding: 20px 40px;
    display: grid;
    grid-gap: 2rem;
    // margin-top: 22px;

    .card-wrapper {
      margin-bottom: 50px;
    }
  }

  .searchable-list--devs {
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
  }

  .searchable-list--groups {
    grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) );
  }

  @keyframes jump {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    75% {
      transform: scale(.99);
    }
    100% {
      transform: scale(1);
    }
  }

  .no-items-found {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-top: 5em;
    
    h1 {
      @extend %font-huge;
      color: $dark-coral;
      font-size: 9rem;
      margin: 0;
      animation: 1s jump ease-in-out;
    }

    p {
      @extend %font-league-mono;
      margin: 0;
      font-size: 2rem;
    }
    
  }

  @media (min-width: $tablet) {
    .searchable-list--groups {
      grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    }
  }
  
  @media (min-width: $desktop) {    
    .searchable-list {
      padding: 40px;
      margin-top: 20px;
    }

    .searchable-list--devs {
      grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) );
    }

    .searchable-list--groups {
      grid-template-columns: repeat( auto-fill, minmax(330px, 1fr) );
    }

    .no-items-found {
      padding: 0;
      
      h1 {
        font-size: 18rem;
      }
      p {
        font-size-adjust: 3rem;
      }
    }
  }

  @media (min-width: $desktop-1080) {
    .searchable-list--devs {
      grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    }

    .searchable-list--groups {
      padding: 40px 200px;
      grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    }
  }
}
