.skills-component {
  border-top: solid 1px $dark-grey;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  justify-content: space-between;

  li {
    height: 28px;
    width: calc(50% - 10px);
    background-color: $light-grey-2;
    margin-bottom: 10px;
    border: solid 1px $black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
      @include rem(font-size, 12px);
      @extend %font-league-mono;
      font-weight: bold;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @media (min-width: $tablet) {
    &.group {

      li {
        width: calc((100% - 32px) / 3);
      }
    }
  }
  
  @media (min-width: $desktop) {

  }
}
