.tablet,
.tablet-up,
.desktop {
  display: none; }

.wrapper.events-news-wrapper {
  display: block; }

@media (min-width: 768px) {
  .tablet {
    display: block; }
  .tablet-up {
    display: block; }
  .mobile {
    display: none; } }

@media (min-width: 1140px) {
  .tablet {
    display: none; }
  .desktop {
    display: block; }
  .tablet-down {
    display: none; }
  .wrapper.events-news-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .wrapper.events-news-wrapper .left {
      width: 24%; }
    .wrapper.events-news-wrapper .right {
      width: 70%; } }
