.activity-component .category-toggles {
  display: flex; }
  .activity-component .category-toggles li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px; }
    .activity-component .category-toggles li h2 {
      font-size: 16px;
      font-size: parse-int(16px)/16rem;
      margin: 0; }
  .activity-component .category-toggles li:last-child {
    margin-right: 0; }

.activity-component .activity-list {
  border-top: 2px solid black; }
  .activity-component .activity-list li {
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center; }
    .activity-component .activity-list li .type-icon-wrapper {
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .activity-component .activity-list li .type-icon-wrapper .type-label {
        font-size: 12px;
        font-size: parse-int(12px)/16rem;
        margin-top: 10px;
        text-transform: uppercase; }
    .activity-component .activity-list li .details {
      width: 75%; }
      .activity-component .activity-list li .details h3 {
        font-size: 16px;
        font-size: parse-int(16px)/16rem;
        margin: 0; }
      .activity-component .activity-list li .details p {
        margin: 0;
        margin-top: 10px; }

@media (min-width: 1140px) {
  .activity-component {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .activity-component .category-toggles {
      width: 80%; }
    .activity-component .activity-list {
      width: 80%; }
      .activity-component .activity-list li .type-icon-wrapper {
        flex-direction: row;
        justify-content: flex-start; }
        .activity-component .activity-list li .type-icon-wrapper img {
          position: relative;
          right: 55px; } }
