.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden, .search-component label {
  visibility: hidden;
  position: absolute; }

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.standard-margins {
  margin: 40px; }

.standard-padding {
  padding: 40px; }

.link-button,
.button {
  font-size: 13px;
  font-size: parse-int(13px)/16rem;
  color: #FF4A54;
  border: 1px solid #FF4A54;
  background-color: rgba(255, 74, 84, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 55px;
  width: 225px;
  font-weight: bold; }
  .link-button:active, .link-button:hover, .link-button:focus,
  .button:active,
  .button:hover,
  .button:focus {
    padding: 0;
    border: 1px solid #FF4A54; }

.button-link {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .button-link:active, .button-link:hover, .button-link:focus {
    color: #FF4A54;
    padding-bottom: 6px;
    border-bottom: 4px solid #FF4A54; }

.subtle-hero {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh; }
  .subtle-hero h1 {
    visibility: hidden; }

@media (min-width: 768px) {
  .subtle-hero {
    background-position: 20vw 120px;
    background-repeat: no-repeat; }
    .subtle-hero.devs {
      background-image: url("/images/devs.svg"); }
    .subtle-hero.groups {
      background-image: url("/images/groups.svg"); } }

@media (min-width: 1140px) {
  .subtle-hero {
    background-position: 18vw 150px; }
  .standard-margins {
    margin-left: calc((100vw - 1140px) / 2);
    margin-right: calc((100vw - 1140px) / 2); }
  .standard-padding {
    padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2); } }

.navigation-component {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation-component .logo {
    width: 70px; }
    .navigation-component .logo:active, .navigation-component .logo:focus, .navigation-component .logo:hover {
      padding: 0;
      border: 0; }
  .navigation-component .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px; }
  .navigation-component .join {
    font-size: 12px;
    font-size: parse-int(12px)/16rem; }
  @media (min-width: 768px) {
    .navigation-component .logo {
      width: 220px; } }
  @media (min-width: 1140px) {
    .navigation-component .menu-button {
      display: none; }
    .navigation-component ul {
      width: calc(100vw - (220px + 200px + 50px));
      display: flex;
      justify-content: flex-end;
      margin-right: 50px; }
      .navigation-component ul li {
        font-size: 14px;
        font-size: parse-int(14px)/16rem;
        width: 12.5%;
        text-align: center; }
    .navigation-component .join {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 200px;
      color: #ffffff; }
      .navigation-component .join:active, .navigation-component .join:focus, .navigation-component .join:hover {
        border: 0;
        padding-bottom: 0; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.hero-component .background-wrapper {
  background-image: url("/images/hero-mobile.jpg"); }

.hero-component .logo-overlay {
  display: none; }

.hero-component .lead {
  font-size: 26px;
  font-size: parse-int(26px)/16rem;
  margin: 0;
  height: 400px;
  padding-bottom: 0;
  font-weight: bold;
  line-height: 30px; }

.hero-component .follow {
  font-size: 14px;
  font-size: parse-int(14px)/16rem;
  font-weight: normal;
  color: #212B2E;
  text-align: center; }

@media (min-width: 768px) {
  .hero-component .title {
    padding-top: 40px;
    text-align: center; }
  .hero-component .lead {
    line-height: 40px; } }

@media (min-width: 1140px) {
  .hero-component .background-wrapper {
    background-image: url("/images/hero-full.jpg");
    max-height: calc(100vh - 80px); }
  .hero-component .lead {
    font-size: 70px;
    font-size: parse-int(70px)/16rem;
    width: 75%;
    max-width: 1100px;
    height: 700px;
    padding-top: 80px;
    line-height: 90px; }
  .hero-component .logo-overlay {
    display: flex;
    position: relative;
    bottom: 60px; }
  .hero-component .follow {
    font-size: 20px;
    font-size: parse-int(20px)/16rem;
    line-height: 24px; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.events-component h2 {
  display: flex;
  align-items: center; }
  .events-component h2 img {
    margin-right: 15px; }

.events-component ul {
  border-top: solid 1px #000; }
  .events-component ul li {
    height: 140px;
    border-bottom: solid 1px #000;
    display: flex;
    align-items: center; }
    .events-component ul li .date {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      padding: 45px;
      font-weight: bold; }
    .events-component ul li .details {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      color: #747781;
      font-weight: bold;
      line-height: 22px; }

@media (min-width: 1140px) {
  .events-component h2 {
    justify-content: center; }
  .events-component .more-events-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.news-component p {
  color: #86939E; }

.news-component .focused-article {
  background-image: url("/images/news-watermark.svg");
  background-size: contain; }
  .news-component .focused-article .news-info {
    padding-right: 120px; }
  .news-component .focused-article .news-title {
    font-size: 53px;
    font-size: parse-int(53px)/16rem;
    line-height: 60px; }

.news-component .article-image-wrapper {
  border-top: solid 4px #FF4A54; }

.news-component .date {
  font-size: 12px;
  font-size: parse-int(12px)/16rem;
  font-weight: bold;
  color: #FF4A54;
  margin-top: 15px;
  margin-bottom: 15px; }

.news-component .news-title {
  font-size: 29px;
  font-size: parse-int(29px)/16rem;
  margin: 0;
  line-height: 33px; }

.news-component .news-details {
  line-height: 25px; }

.news-component ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; }
  .news-component ul li {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .news-component ul li .date,
    .news-component ul li h3,
    .news-component ul li p {
      width: 100%; }
    .news-component ul li h3 {
      font-size: 14px;
      font-size: parse-int(14px)/16rem; }
    .news-component ul li h3,
    .news-component ul li p {
      margin-bottom: 5px; }
    .news-component ul li .article-image-wrapper {
      height: 110px; }
      .news-component ul li .article-image-wrapper img {
        height: 100%;
        object-fit: cover; }
    .news-component ul li:nth-child(odd) {
      margin-right: 10px; }

@media (min-width: 768px) {
  .news-component {
    background-image: url("/images/news-watermark.svg");
    background-size: 30%;
    background-position: 5% center;
    background-repeat: no-repeat; }
    .news-component .focused-article {
      background-image: none; } }

@media (min-width: 1140px) {
  .news-component .focused-article .article-image-wrapper {
    max-height: 70vh;
    overflow: hidden; }
  .news-component .focused-article img {
    width: 100%; }
  .news-component ul {
    justify-content: space-between; }
    .news-component ul li {
      width: calc(70vw / 2 - 40px);
      margin-bottom: 60px; }
      .news-component ul li .article-image-wrapper {
        width: calc(100%);
        height: calc(70vw / 4); }
        .news-component ul li .article-image-wrapper img {
          width: 100%; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.activity-component .category-toggles {
  display: flex; }
  .activity-component .category-toggles li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px; }
    .activity-component .category-toggles li h2 {
      font-size: 16px;
      font-size: parse-int(16px)/16rem;
      margin: 0; }
  .activity-component .category-toggles li:last-child {
    margin-right: 0; }

.activity-component .activity-list {
  border-top: 2px solid black; }
  .activity-component .activity-list li {
    border-bottom: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center; }
    .activity-component .activity-list li .type-icon-wrapper {
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .activity-component .activity-list li .type-icon-wrapper .type-label {
        font-size: 12px;
        font-size: parse-int(12px)/16rem;
        margin-top: 10px;
        text-transform: uppercase; }
    .activity-component .activity-list li .details {
      width: 75%; }
      .activity-component .activity-list li .details h3 {
        font-size: 16px;
        font-size: parse-int(16px)/16rem;
        margin: 0; }
      .activity-component .activity-list li .details p {
        margin: 0;
        margin-top: 10px; }

@media (min-width: 1140px) {
  .activity-component {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .activity-component .category-toggles {
      width: 80%; }
    .activity-component .activity-list {
      width: 80%; }
      .activity-component .activity-list li .type-icon-wrapper {
        flex-direction: row;
        justify-content: flex-start; }
        .activity-component .activity-list li .type-icon-wrapper img {
          position: relative;
          right: 55px; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.join-component {
  background-image: url("/images/river-right.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .join-component h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 40px; }
  @media (min-width: 768px) {
    .join-component p {
      width: 50%; } }
  @media (min-width: 1140px) {
    .join-component {
      background-image: url("/images/river-left.svg"), url("/images/river-right.svg");
      background-position: left bottom, right bottom;
      margin-top: 50px; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.footer-component {
  background-color: #252525;
  background-image: url("/images/logo-full-large-grey.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: contain;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  .footer-component .list-wrapper {
    padding-top: 60px; }
    .footer-component .list-wrapper h2 {
      color: #ffffff; }
    .footer-component .list-wrapper li {
      padding: 10px; }
      .footer-component .list-wrapper li a {
        font-size: 16px;
        font-size: parse-int(16px)/16rem;
        font-weight: normal;
        color: #86939E; }
  @media (min-width: 1140px) {
    .footer-component {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-position: left center;
      background-size: 70vw;
      text-align: left;
      padding-top: 100px;
      padding-bottom: 100px; }
      .footer-component .site-map-wrapper {
        width: 70vw;
        display: flex;
        justify-content: flex-start;
        padding-bottom: 50px;
        flex-wrap: wrap; }
        .footer-component .site-map-wrapper .list-wrapper {
          margin-right: 100px; }
      .footer-component .contact-copyright {
        margin-top: 50px;
        padding-top: 50px;
        border-top: solid 2px #ffffff;
        width: 100%; }
        .footer-component .contact-copyright p,
        .footer-component .contact-copyright a {
          font-size: 16px;
          font-size: parse-int(16px)/16rem;
          color: #ffffff; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.filters-component {
  position: absolute;
  overflow-x: hidden;
  width: 100vw; }
  .filters-component .show-filters-button,
  .filters-component .hide-filters-button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0; }
    .filters-component .show-filters-button button,
    .filters-component .hide-filters-button button {
      margin: 0; }
  .filters-component .hide-filters-button {
    position: absolute;
    top: 0;
    right: 0;
    left: calc(100vw - 40px);
    outline: none;
    background-color: transparent;
    transition: background-color .5s; }
    .filters-component .hide-filters-button svg {
      transition: fill .5s;
      fill: transparent;
      position: relative;
      left: 10px; }
  .filters-component .filters-area {
    outline: none;
    position: relative;
    width: 100vw;
    right: 100vw;
    background-color: #F2F3F5;
    position: relative;
    z-index: 1;
    transition: margin-left .5s; }
    .filters-component .filters-area .show-filters-button {
      background-color: #FF4A54;
      fill: #ffffff;
      position: absolute;
      left: 100vw; }
    .filters-component .filters-area:hover, .filters-component .filters-area:active, .filters-component .filters-area:focus {
      margin-left: 100vw; }
      .filters-component .filters-area:hover .show-filters-button, .filters-component .filters-area:active .show-filters-button, .filters-component .filters-area:focus .show-filters-button {
        color: transparent;
        outline: none; }
      .filters-component .filters-area:hover + .hide-filters-button, .filters-component .filters-area:active + .hide-filters-button, .filters-component .filters-area:focus + .hide-filters-button {
        background-color: #FF4A54;
        display: block;
        color: #000;
        z-index: 1; }
        .filters-component .filters-area:hover + .hide-filters-button svg, .filters-component .filters-area:active + .hide-filters-button svg, .filters-component .filters-area:focus + .hide-filters-button svg {
          fill: #ffffff; }
  .filters-component h2 {
    text-transform: uppercase;
    border-bottom: solid 1px #000;
    width: 225px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 0; }
  .filters-component .filters-list ul {
    padding-left: 30px; }
    .filters-component .filters-list ul li {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      color: #86939E;
      margin-bottom: 10px; }
      .filters-component .filters-list ul li label {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
      .filters-component .filters-list ul li input[type=checkbox] {
        margin-right: 10px; }
  @media (min-width: 768px) {
    .filters-component {
      width: 20vw;
      padding-top: 150px; }
      .filters-component .no-top-padding {
        padding-top: 0; }
      .filters-component .filters-area {
        right: 0;
        background-color: transparent; }
        .filters-component .filters-area:hover, .filters-component .filters-area:active, .filters-component .filters-area:focus {
          margin-left: auto; }
          .filters-component .filters-area:hover + .hide-filters-button, .filters-component .filters-area:active + .hide-filters-button, .filters-component .filters-area:focus + .hide-filters-button {
            display: none; }
      .filters-component .show-filters-button,
      .filters-component .hide-filters-button {
        display: none; } }
  @media (min-width: 1140px) {
    .filters-component {
      padding-top: 200px; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden, .search-component label {
  visibility: hidden;
  position: absolute; }

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.standard-margins {
  margin: 40px; }

.standard-padding {
  padding: 40px; }

.link-button,
.button {
  font-size: 13px;
  font-size: parse-int(13px)/16rem;
  color: #FF4A54;
  border: 1px solid #FF4A54;
  background-color: rgba(255, 74, 84, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 55px;
  width: 225px;
  font-weight: bold; }
  .link-button:active, .link-button:hover, .link-button:focus,
  .button:active,
  .button:hover,
  .button:focus {
    padding: 0;
    border: 1px solid #FF4A54; }

.button-link {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .button-link:active, .button-link:hover, .button-link:focus {
    color: #FF4A54;
    padding-bottom: 6px;
    border-bottom: 4px solid #FF4A54; }

.subtle-hero {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh; }
  .subtle-hero h1 {
    visibility: hidden; }

@media (min-width: 768px) {
  .subtle-hero {
    background-position: 20vw 120px;
    background-repeat: no-repeat; }
    .subtle-hero.devs {
      background-image: url("/images/devs.svg"); }
    .subtle-hero.groups {
      background-image: url("/images/groups.svg"); } }

@media (min-width: 1140px) {
  .subtle-hero {
    background-position: 18vw 150px; }
  .standard-margins {
    margin-left: calc((100vw - 1140px) / 2);
    margin-right: calc((100vw - 1140px) / 2); }
  .standard-padding {
    padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2); } }

.searchable-list-component {
  top: 110px; }
  .searchable-list-component .searchable-list {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .searchable-list-component .searchable-list .card-wrapper {
      margin-bottom: 50px; }
  @media (min-width: 768px) {
    .searchable-list-component {
      padding-top: 50px;
      width: calc(80vw - 100px);
      margin-left: 20vw;
      padding-left: 50px;
      padding-right: 50px; }
      .searchable-list-component .searchable-list {
        padding-top: 95px;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between; }
      .searchable-list-component .card-wrapper {
        width: 45%; }
        .searchable-list-component .card-wrapper.group {
          width: 100%; } }
  @media (min-width: 1140px) {
    .searchable-list-component {
      width: calc(80vw - 200px);
      padding-left: 10px;
      padding-right: 10px; }
      .searchable-list-component .searchable-list {
        padding-top: 150px; }
      .searchable-list-component .card-wrapper {
        width: calc((100% - 40px) / 2); } }
  @media (min-width: 1920px) {
    .searchable-list-component .card-wrapper {
      width: calc((100% - 120px) / 3); } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.dev-card-component {
  width: 100%; }
  .dev-card-component .dev-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 225px;
    width: 100%;
    border-top: solid 3px #FF4A54; }
    .dev-card-component .dev-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .dev-card-component .details h2 {
    font-size: 22px;
    font-size: parse-int(22px)/16rem;
    line-height: 24px; }
    .dev-card-component .details h2 span {
      font-size: 12px;
      font-size: parse-int(12px)/16rem;
      color: #747781; }
  .dev-card-component .details p {
    font-size: 16px;
    font-size: parse-int(16px)/16rem;
    color: #86939E;
    padding-bottom: 30px;
    border-bottom: solid 2px #252525; }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden, .search-component label {
  visibility: hidden;
  position: absolute; }

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.standard-margins {
  margin: 40px; }

.standard-padding {
  padding: 40px; }

.link-button,
.button {
  font-size: 13px;
  font-size: parse-int(13px)/16rem;
  color: #FF4A54;
  border: 1px solid #FF4A54;
  background-color: rgba(255, 74, 84, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 55px;
  width: 225px;
  font-weight: bold; }
  .link-button:active, .link-button:hover, .link-button:focus,
  .button:active,
  .button:hover,
  .button:focus {
    padding: 0;
    border: 1px solid #FF4A54; }

.button-link {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .button-link:active, .button-link:hover, .button-link:focus {
    color: #FF4A54;
    padding-bottom: 6px;
    border-bottom: 4px solid #FF4A54; }

.subtle-hero {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh; }
  .subtle-hero h1 {
    visibility: hidden; }

@media (min-width: 768px) {
  .subtle-hero {
    background-position: 20vw 120px;
    background-repeat: no-repeat; }
    .subtle-hero.devs {
      background-image: url("/images/devs.svg"); }
    .subtle-hero.groups {
      background-image: url("/images/groups.svg"); } }

@media (min-width: 1140px) {
  .subtle-hero {
    background-position: 18vw 150px; }
  .standard-margins {
    margin-left: calc((100vw - 1140px) / 2);
    margin-right: calc((100vw - 1140px) / 2); }
  .standard-padding {
    padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2); } }

.search-component input[type=search] {
  font-size: 20px;
  font-size: parse-int(20px)/16rem;
  color: #212B2E;
  background-color: transparent;
  border: 0;
  width: calc(100% - 245px);
  margin-right: 20px;
  border-bottom: solid 2px #C4C4C4; }
  .search-component input[type=search]::placeholder {
    font-size: 20px;
    font-size: parse-int(20px)/16rem;
    font-weight: bold;
    color: #E5E5E5; }

.search-component button.button {
  margin: 0; }

@media (min-width: 768px) {
  .search-component {
    display: flex; } }

@media (min-width: 1140px) {
  .search-component input[type=search] {
    font-size: 36px;
    font-size: parse-int(36px)/16rem; }
    .search-component input[type=search]::placeholder {
      font-size: 36px;
      font-size: parse-int(36px)/16rem; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.skills-component {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .skills-component li {
    font-size: 12px;
    font-size: parse-int(12px)/16rem;
    height: 28px;
    width: calc(50% - 10px);
    background-color: #E5E5E5;
    margin-bottom: 20px;
    border: solid 2px #000;
    display: flex;
    justify-content: center;
    align-items: center; }
    .skills-component li:nth-child(odd) {
      margin-right: 12px; }
  @media (min-width: 768px) {
    .skills-component.group li {
      width: calc((100% - 32px) / 3);
      margin-right: 10px; }
      .skills-component.group li:nth-child(3n) {
        margin-right: 0; } }

.hero-component .lead, .events-component h2, .news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.link-button,
.button, .navigation-component .join, .news-component .date, .skills-component li {
  font-family: 'League Mono'; }

.hero-component .follow, .news-component .news-details {
  font-family: 'Sofia Pro'; }

.group-card-component {
  width: 100%; }
  .group-card-component .group-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-top: solid 3px #FF4A54;
    height: calc(30vh + 30px); }
    .group-card-component .group-image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .group-card-component .details {
    background-color: #252525;
    background-image: url("/images/topographic-map.svg");
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 30vh; }
    .group-card-component .details h2,
    .group-card-component .details p,
    .group-card-component .details button {
      margin: 0;
      color: #F2F3F5; }
    .group-card-component .details p {
      margin-top: 15px;
      margin-bottom: 30px; }
  @media (min-width: 768px) {
    .group-card-component .group-image-wrapper,
    .group-card-component .details {
      height: 225px; } }
