.events-component h2 {
  font-family: 'Huge'; }

.events-component h2 {
  display: flex;
  align-items: center; }
  .events-component h2 img {
    margin-right: 15px; }

.events-component ul {
  border-top: solid 1px #000; }
  .events-component ul li {
    height: 140px;
    border-bottom: solid 1px #000;
    display: flex;
    align-items: center; }
    .events-component ul li .date {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      padding: 45px;
      font-weight: bold; }
    .events-component ul li .details {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      color: #747781;
      font-weight: bold;
      line-height: 22px; }

@media (min-width: 1140px) {
  .events-component h2 {
    justify-content: center; }
  .events-component .more-events-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end; } }
