.filters-component {
  position: absolute;
  overflow-x: hidden;
  width: 100vw; }
  .filters-component .show-filters-button,
  .filters-component .hide-filters-button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0; }
    .filters-component .show-filters-button button,
    .filters-component .hide-filters-button button {
      margin: 0; }
  .filters-component .hide-filters-button {
    position: absolute;
    top: 0;
    right: 0;
    left: calc(100vw - 40px);
    outline: none;
    background-color: transparent;
    transition: background-color .5s; }
    .filters-component .hide-filters-button svg {
      transition: fill .5s;
      fill: transparent;
      position: relative;
      left: 10px; }
  .filters-component .filters-area {
    outline: none;
    position: relative;
    width: 100vw;
    right: 100vw;
    background-color: #F2F3F5;
    position: relative;
    z-index: 1;
    transition: margin-left .5s; }
    .filters-component .filters-area .show-filters-button {
      background-color: #FF4A54;
      fill: #ffffff;
      position: absolute;
      left: 100vw; }
    .filters-component .filters-area:hover, .filters-component .filters-area:active, .filters-component .filters-area:focus {
      margin-left: 100vw; }
      .filters-component .filters-area:hover .show-filters-button, .filters-component .filters-area:active .show-filters-button, .filters-component .filters-area:focus .show-filters-button {
        color: transparent;
        outline: none; }
      .filters-component .filters-area:hover + .hide-filters-button, .filters-component .filters-area:active + .hide-filters-button, .filters-component .filters-area:focus + .hide-filters-button {
        background-color: #FF4A54;
        display: block;
        color: #000;
        z-index: 1; }
        .filters-component .filters-area:hover + .hide-filters-button svg, .filters-component .filters-area:active + .hide-filters-button svg, .filters-component .filters-area:focus + .hide-filters-button svg {
          fill: #ffffff; }
  .filters-component h2 {
    text-transform: uppercase;
    border-bottom: solid 1px #000;
    width: 225px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 0; }
  .filters-component .filters-list ul {
    padding-left: 30px; }
    .filters-component .filters-list ul li {
      font-size: 14px;
      font-size: parse-int(14px)/16rem;
      color: #86939E;
      margin-bottom: 10px; }
      .filters-component .filters-list ul li label {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
      .filters-component .filters-list ul li input[type=checkbox] {
        margin-right: 10px; }
  @media (min-width: 768px) {
    .filters-component {
      width: 20vw;
      padding-top: 150px; }
      .filters-component .no-top-padding {
        padding-top: 0; }
      .filters-component .filters-area {
        right: 0;
        background-color: transparent; }
        .filters-component .filters-area:hover, .filters-component .filters-area:active, .filters-component .filters-area:focus {
          margin-left: auto; }
          .filters-component .filters-area:hover + .hide-filters-button, .filters-component .filters-area:active + .hide-filters-button, .filters-component .filters-area:focus + .hide-filters-button {
            display: none; }
      .filters-component .show-filters-button,
      .filters-component .hide-filters-button {
        display: none; } }
  @media (min-width: 1140px) {
    .filters-component {
      padding-top: 200px; } }
