.hero-component .lead {
  font-family: 'Huge'; }

.hero-component .follow {
  font-family: 'Sofia Pro'; }

.hero-component .background-wrapper {
  background-image: url("/images/hero-mobile.jpg"); }

.hero-component .logo-overlay {
  display: none; }

.hero-component .lead {
  font-size: 26px;
  font-size: parse-int(26px)/16rem;
  margin: 0;
  height: 400px;
  padding-bottom: 0;
  font-weight: bold;
  line-height: 30px; }

.hero-component .follow {
  font-size: 14px;
  font-size: parse-int(14px)/16rem;
  font-weight: normal;
  color: #212B2E;
  text-align: center; }

@media (min-width: 768px) {
  .hero-component .title {
    padding-top: 40px;
    text-align: center; }
  .hero-component .lead {
    line-height: 40px; } }

@media (min-width: 1140px) {
  .hero-component .background-wrapper {
    background-image: url("/images/hero-full.jpg");
    max-height: calc(100vh - 80px); }
  .hero-component .lead {
    font-size: 70px;
    font-size: parse-int(70px)/16rem;
    width: 75%;
    max-width: 1100px;
    height: 700px;
    padding-top: 80px;
    line-height: 90px; }
  .hero-component .logo-overlay {
    display: flex;
    position: relative;
    bottom: 60px; }
  .hero-component .follow {
    font-size: 20px;
    font-size: parse-int(20px)/16rem;
    line-height: 24px; } }
