.link-button,
.button, .navigation-component .join {
  font-family: 'League Mono'; }

.link-button,
.button, .navigation-component .join {
  font-family: 'League Mono'; }

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  visibility: hidden;
  position: absolute; }

.background-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.standard-margins {
  margin: 40px; }

.standard-padding {
  padding: 40px; }

.link-button,
.button {
  font-size: 13px;
  font-size: parse-int(13px)/16rem;
  color: #FF4A54;
  border: 1px solid #FF4A54;
  background-color: rgba(255, 74, 84, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 55px;
  width: 225px;
  font-weight: bold; }
  .link-button:active, .link-button:hover, .link-button:focus,
  .button:active,
  .button:hover,
  .button:focus {
    padding: 0;
    border: 1px solid #FF4A54; }

.button-link {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .button-link:active, .button-link:hover, .button-link:focus {
    color: #FF4A54;
    padding-bottom: 6px;
    border-bottom: 4px solid #FF4A54; }

.subtle-hero {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh; }
  .subtle-hero h1 {
    visibility: hidden; }

@media (min-width: 768px) {
  .subtle-hero {
    background-position: 20vw 120px;
    background-repeat: no-repeat; }
    .subtle-hero.devs {
      background-image: url("/images/devs.svg"); }
    .subtle-hero.groups {
      background-image: url("/images/groups.svg"); } }

@media (min-width: 1140px) {
  .subtle-hero {
    background-position: 18vw 150px; }
  .standard-margins {
    margin-left: calc((100vw - 1140px) / 2);
    margin-right: calc((100vw - 1140px) / 2); }
  .standard-padding {
    padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2); } }

.navigation-component {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navigation-component .logo {
    width: 70px; }
    .navigation-component .logo:active, .navigation-component .logo:focus, .navigation-component .logo:hover {
      padding: 0;
      border: 0; }
  .navigation-component .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px; }
  .navigation-component .join {
    font-size: 12px;
    font-size: parse-int(12px)/16rem; }
  @media (min-width: 768px) {
    .navigation-component .logo {
      width: 220px; } }
  @media (min-width: 1140px) {
    .navigation-component .menu-button {
      display: none; }
    .navigation-component ul {
      width: calc(100vw - (220px + 200px + 50px));
      display: flex;
      justify-content: flex-end;
      margin-right: 50px; }
      .navigation-component ul li {
        font-size: 14px;
        font-size: parse-int(14px)/16rem;
        width: 12.5%;
        text-align: center; }
    .navigation-component .join {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 200px;
      color: #ffffff; }
      .navigation-component .join:active, .navigation-component .join:focus, .navigation-component .join:hover {
        border: 0;
        padding-bottom: 0; } }
