.news-component .news-title, .news-component ul li h3 {
  font-family: 'Huge'; }

.news-component .date {
  font-family: 'League Mono'; }

.news-component .news-details {
  font-family: 'Sofia Pro'; }

.news-component p {
  color: #86939E; }

.news-component .focused-article {
  background-image: url("/images/news-watermark.svg");
  background-size: contain; }
  .news-component .focused-article .news-info {
    padding-right: 120px; }
  .news-component .focused-article .news-title {
    font-size: 53px;
    font-size: parse-int(53px)/16rem;
    line-height: 60px; }

.news-component .article-image-wrapper {
  border-top: solid 4px #FF4A54; }

.news-component .date {
  font-size: 12px;
  font-size: parse-int(12px)/16rem;
  font-weight: bold;
  color: #FF4A54;
  margin-top: 15px;
  margin-bottom: 15px; }

.news-component .news-title {
  font-size: 29px;
  font-size: parse-int(29px)/16rem;
  margin: 0;
  line-height: 33px; }

.news-component .news-details {
  line-height: 25px; }

.news-component ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; }
  .news-component ul li {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .news-component ul li .date,
    .news-component ul li h3,
    .news-component ul li p {
      width: 100%; }
    .news-component ul li h3 {
      font-size: 14px;
      font-size: parse-int(14px)/16rem; }
    .news-component ul li h3,
    .news-component ul li p {
      margin-bottom: 5px; }
    .news-component ul li .article-image-wrapper {
      height: 110px; }
      .news-component ul li .article-image-wrapper img {
        height: 100%;
        object-fit: cover; }
    .news-component ul li:nth-child(odd) {
      margin-right: 10px; }

@media (min-width: 768px) {
  .news-component {
    background-image: url("/images/news-watermark.svg");
    background-size: 30%;
    background-position: 5% center;
    background-repeat: no-repeat; }
    .news-component .focused-article {
      background-image: none; } }

@media (min-width: 1140px) {
  .news-component .focused-article .article-image-wrapper {
    max-height: 70vh;
    overflow: hidden; }
  .news-component .focused-article img {
    width: 100%; }
  .news-component ul {
    justify-content: space-between; }
    .news-component ul li {
      width: calc(70vw / 2 - 40px);
      margin-bottom: 60px; }
      .news-component ul li .article-image-wrapper {
        width: calc(100%);
        height: calc(70vw / 4); }
        .news-component ul li .article-image-wrapper img {
          width: 100%; } }
